:host {
  ngx-flip {
    height: 150px;
    width: 150px;
    .front {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .back {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.memory-card {
  margin-left: 10px;
  margin-top: 10px;
  border:2px solid black;

}


.select-disable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}


img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.img-div {
  background-size: contain;
  background-position: center center;
  width:150px;
  height: 150px;
}
